

<!-- <app-index></app-index> -->

<!-- <div class="container">
    <h2>
        {{firstName}}
    </h2>
    <h3>{{address}}</h3>

    <h1>{{getFullName()}}</h1>

    <h3>{{4 + 5}}</h3>

    <form>
        <input [type]="inputType" name="" [id]="inputId" [placeholder]="placeholder">
    </form>

    <p>{{paragraphText}}</p>
    <p [innerText]="paragraphText"></p>

    <button class="btn btn-primary" [disabled]="disabled">Send</button>

    <button class="btn btn-primary" disabled>Send</button>
    <h3 [class]="classText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, perferendis?</h3>

</div> -->

<!-- <div class="container mt-4">
    <app-about></app-about>

</div> -->

<app-card></app-card>



<router-outlet></router-outlet>
